# Base de datos
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme123
POSTGRES_DB=clinica_citas
POSTGRES_PORT=5435

# URL de conexión que usará Prisma dentro de Docker
DATABASE_URL="postgresql://admin:changeme123@db:5435/clinica_citas?schema=public"

# Backend
BACKEND_PORT=4000

# Frontend
FRONTEND_PORT=8080